.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background-color: rgb(30, 110, 110);
    color: rgb(233, 198, 152);
    box-sizing: border-box;
}

.navbar a {
    color: rgb(233, 198, 152);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.active-link {
    color: whitesmoke;
    font-weight: bold;
    border-bottom: 1px solid whitesmoke;
}
.navbar-button {
    background-color: #2e1414;
    color: rgb(233, 198, 152);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar a:hover,
.navbar-button:hover {
    color: #021b24;

}

.navbar-button:hover {
    background-color: rgb(233, 198, 152);
}

.navbar p {
    margin-left: 20px;
    color: whitesmoke;
    font-size: 16px;
}
